/* 
Grey #8c8c8c, 
light grey #f2f2f2
Light green 85cfb8
Red #df4647
ligh blue #e4eefb 

*/


html,
body {
  height: auto;
  background-color: #8c8c8c;
  overflow-y: scroll;
}

body {
  display: flex;
  align-items: stretch;
  font-family: 'Poppins';
}

.rounded-card {
  display: flex;
  position: relative;
  /* align-items: center;
  justify-content: center; */
  height: 95%;
  width: 100%;
  margin-top: 15px;
  border-radius: 18px;
  background-color: #fff;
  -webkit-box-shadow: -3px -8px 8px -7px rgba(189, 189, 189, 1);
  -moz-box-shadow: -3px -8px 8px -7px rgba(189, 189, 189, 1);
  box-shadow: -3px -8px 8px -7px rgba(189, 189, 189, 1);
}

.logo_text {
  color: black;
  font-size: 19px;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
}

.icons_color {
  fill: rgb(161, 20, 20);
}

.menu_text_font_style {
  color: grey;
  font-size: 11px;
  font-weight: 500;
  padding-left: 10px;
  align-self: center;
  margin-top: 8px;
}

.menu_img_size {
  height: 20px;
}

.menu_items {
  padding-top: 20px;
}

.menu_text_align {
  display: flex;
  align-items: center;
  align-self: center;
}

.menu_item_height {
  height: 35px;
}

.left-bar-pad {
  padding-left: 20px;
  padding-right: 10px;
}

.top-bar-pad {
  padding-top: 20px;
  padding-bottom: 10px;
}

.section1 {
  padding-top: 30px;
}


.nav-bar ul li img {
  width: 25px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.information ul li img {
  width: 25px;
  height: auto;
}

.nav-bar span {
  width: 25px;
  height: auto;
  background-color: #8c8c8c;
  border-radius: 50%;
}

.upgarde {
  padding-top: 20px;
  margin-top: 20px;
  width: 150px;
  height: auto;
  background: rgb(182, 182, 182);
  background: linear-gradient(180deg, rgb(234, 234, 234) 0%, rgba(224, 224, 224, 0.791) 30%, rgba(255, 255, 255, 0) 60%);
  border-radius: 10px;
  text-align: center;
}

.upgarde h5 {
  font-weight: 700;
  font-size: 13px;
}

.upgarde p {
  font-weight: 400;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

.upgrade_button {
  margin-top: 25px;
  align-self: center;
}

.button_custom {
  padding: 12px 25px;
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  border: #fff;
  background-color: #87ceeb;
}


.information ul li {
  margin-bottom: 11px;
}

.row_item_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upgrade_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.vertical-divider {
  border-right: 1px solid #c9c9c9;
  height: 100%;
}


/* Task & Project Plus Icon */

.space-between-element {
  justify-content: space-between;
}

.plus_icon img {
  width: 8px;
}

.plus_icon {
  background-color: #ebe9e9;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* padding left css*/
.pad_left_common_8px {
  padding-left: 8px;
}

.pad_left_common_12px {
  padding-left: 12px;
}

.pad_left_common_18px {
  padding-left: 8px;
}

/* padding top css */

.pad_top_common_3px {
  padding-top: 3px;
}

.pad_bottom_common_3px {
  padding-bottom: 3px;
}



/* Main Part */

.main_part {
  margin: 30px;
}

.main_display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.para_margin {
  margin-top: 17px;
  margin-right: 10px;
}

.main_icon {
  background-color: #ebe9e9;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
}

.para_size {
  font-size: 11px;
  font-weight: 500;
}

.para_color {
  color: #8c8c8c;
}

.hr_line {
  margin-top: 25px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
}

.dropdown-height {
  height: 10px;
}

.track_icon_height {
  height: 18px;
}

.track_circle {
  background-color: #ebe9e9;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* margaret_itmes */

.margaret_itmes,
.item_display {
  display: inline-flex;
  align-items: center;

  padding-right: 8px;
}

.margaret_div {
  display: flex;
  align-items: center;
  padding-right: 8px;
  justify-content: space-between;
}

.card_height {
  height: 60px;
}

.item_height {
  height: 25px;
  font-size: 12px;
}

.item_display h5 {
  font-size: small;
  font-weight: bold;
}

.up_down_things {
  color: green;
  font-weight: 600;
  margin-left: 10px;
}

.up_things {
  color: #d10000;
  font-weight: 600;
  margin-left: 10px;
}


.vl {
  border-right: 1px solid #d8d8d8;
  height: 35px;
}

.card_desc {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  margin-left: 10px;
}


/* main_bottom_div */

.main_bottom_div {
  margin: 30px;
}

.main_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_div_item {
  display: inline-flex;
  align-items: center;
}

.horizontal_line {
  border-right: 1px solid #d8d8d8;
  height: 20px;
  margin: 20px;
}
.current_div_title{
  font-size: 15px;
  font-weight: 800;
}

.current_font_size {
  font-size: 12px;
  font-weight: 700;
}

.week {
  width: 70px;
  border: 1px solid #d8d8d8;
  padding: 4px;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
}

.down_arrow_height {
  height: 12px;
}

/* current task details */
/* .performance_desc {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  align-items: center;
} */

.product_icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  background-color: #DEE5F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_icon img {
  height: 20px;
}

.product_review {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product_review span {
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 500;
  flex-grow: 1;
}

.status_d img {
  height: 30px;
}

.progress_icon_img {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 500;
}

.time_desc img,
.dotted img {
  height: 10px;
}

.dotted {
  align-self: end;
  padding-bottom: 8px;
  display: flex;
  justify-content: end;
  margin-right: 17px;
}

.progress_time_desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.time_desc {
  display: flex;
  align-items: center;
}

.time_desc span {
  font-size: 13px;
  font-weight: 500;
  margin-left: 3px;
}

.height_adj {
  height: 31px;
  padding-bottom: 11px;
}

.hold_height {
  height: 31px;
}

.done_height {
  height: 31px;
  padding-top: 20px;
}

.product_margin {
  margin-top: 40px;
  margin-bottom: 10px;
}

.vertical {
  border-right: 1px solid #c9c9c9;
  height: 100%;
}

.cards-items-rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 11;
}

.cards-items-rows span {
  width: 40%;
}

.status_d{
  display: flex;
  justify-content: end;
}




/* Activity CSS */

.activity_div{
  margin-left: 15px;
  margin-top: 25px;
}
.activity_div p{
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 11px;
  font-weight: 700;
}
.activity_div p span{
  background-color: #fff;
  padding: 0 10px;
}

.floyd_icon img{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
}
.floyd_chat_disc{
  display: flex;
  align-items: center;
}
.floyd_chat{
  display: flex;
}
.floyd_comment{
  display: flex;
  text-align: center;
  margin-left: 10px;
  justify-content: space-between;
}
.floyd_time_div{
  display: flex;
  justify-content: end;
}
.floyd_name .name{
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: start;
}
.floyd_span span{
  font-size: 11px;
  font-weight: 500;
}
.floyd_time{
  font-size: 11px;
  color: #c9c9c9;
}
.chat_div{
  margin-top: 40px;
  margin-left: 20px;
}

/* Performance Graph */

.performance_Graph{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 20px;
}
.performance_date img{
  height: 9px;
}
.performance_date{
  width: 85px;
  border: 1px solid none;
  padding: 4px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  margin-right: 25px;
}
.performance_div span{
  font-size: 15px ;
  font-weight: 800;
}
.performance_date span{
  font-size: 11px;
  font-weight: 500;
}

#myChart{
  margin-left: 20px;
  padding-right: 8px;
}

/* Portfolio CSS */

.profile_div {
  height: 220px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  padding-top: 20px;
  text-align:center ;
}

.profile_details img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 3px solid #fff;
  object-fit: cover;
}

.active_or_not {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #ff2400;
  text-align: center;
  position: relative;
  left: 169px;
  bottom: 16px;
}

.portfolio_call_Details {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.portfolio_icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.portfolio_icon img {
  height: 18px;
}

.portfolio_img_adj {
  align-items: center;
}
.profile_name{
  font-size: 15px;
  font-weight: 800;
}

.portfolio_id {
  font-size: 13px;
}
.floyd_active{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff2400;
  position: absolute;
  right: 380px;
  bottom: 442px
}
.reply_div{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.chat_reply{
  width: 75%;
  height: auto;
  border-radius: 10px;
  background-color: #e2e8ff;
  display: flex;
}
.chat_reply p{
  font-size: 13px;
  padding: 10px;
  font-weight: 600;
}
.like_div{
  width: 30px;
  height: 25px;
  background-color: #c9c9c9;
  border-radius: 16px;
  border: 2px solid #fff;
  position: absolute;
  right: 100px;
  bottom: 313px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like_div img{
  height: 15px;
}
.guy_div{
  margin-top: 30px;
}
.guy_active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #04aa0c;
    position: absolute;
    right: 380px;
    bottom: 255px;
}
.guy_icon img{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
}
.guy_div{
  display: flex;
  align-items: center;
}
.guy_chat{
  display: flex;
}
.guy_comment{
  display: flex;
  text-align: center;
  margin-left: 10px;
  justify-content: space-between;
}
.guy_time_div{
  display: flex;
  justify-content: end;
}
.guy_name .name{
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: start;
}
.guy_span span{
  font-size: 11px;
  font-weight: 500;
}
.guy_time{
  font-size: 11px;
  color: #c9c9c9;
}

.homepage_div{
  width: 75%;
  height: auto;
  border-radius: 10px;
  background-color: #e2e8ff;
  display: flex;
  align-items: center;
  padding: 10px;
}
.homePage_download{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.homePage_download img{
  height: 20px;
}
.homePage_icon{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000002;
}
.homePage_title_div{
  display: flex;
  margin-left: 10px;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.homePage_title span{
  font-size: 13px;
  font-weight: 600;
}
.homePage_mb span{
  font-size: 11px;
  font-weight: 500;
  color: #9c9c9c;
}
.homePage{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.kris_active{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff2400;
  position: absolute;
  right: 380px;
  bottom: 92px;
}
.user_input_div{
  display: flex;
  margin-top: 30px;
}
.user_input{
  display: flex;
  border-radius: 10px;
  background-color: #f1f1f1;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.user_input img{
  height: 20px;
}
.user_input_para{
  display: flex;
  margin-left: 10px;
  align-items: baseline;
  width: 90%;
  justify-content: space-between;
}
.user_input_happy_img{
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.user_input_para p{
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  color: #9c9c9c;
}
