/* 
Grey #8c8c8c, 
light grey #f2f2f2
Light green 85cfb8
Red #df4647
ligh blue #e4eefb 

*/


html, body {
    height: 100%;
    background-color: #8c8c8c;
  }
  body {
    display: flex;
    align-items: stretch;
  }

.rounded-card {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 100%;
    margin-top: 15px;
    border-radius: 18px;
    background-color: #fff;
    -webkit-box-shadow: -3px -8px 8px -7px rgba(189,189,189,1);
    -moz-box-shadow: -3px -8px 8px -7px rgba(189,189,189,1);
    box-shadow: -3px -8px 8px -7px rgba(189,189,189,1);
}
.section1{
  padding-top: 30px;
}
.row{
  margin-left: 20px;
  margin-bottom: 15px;
}
.row .title{
  padding-left: 50px;
  margin-top: -30px;
}
.section1 a{
  text-decoration: none;
  color: #8c8c8c;
  margin-left: 15px;
}
.section1 span{
  margin-left: 20px;
}
.section1 ul li{
  list-style-type: none;
}
.nav-bar ul li img{
  width: 25px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.information ul li img{
  width: 25px;
  height: auto;
}

.nav-bar span{
  width: 25px;
  height: auto;
  background-color: #8c8c8c;
  border-radius: 50%;
}
.upgarde{
  margin-left: 30px;
  padding-top: 20px;
  width: 150px;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: center;
}
.upgarde h5{
  font-weight: 700;
}
.upgarde p{
  font-weight: 500;
}
.upgrade_button{
  margin-left: 35px;
  margin-top: 25px;
}
.btn{
  padding: 12px 25px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  background-color: #87ceeb;
}
.information{
  margin-top: 30px;
}
.information ul li{
  margin-bottom:10px;
}
